org_id         = "123456789012"

project_id     = "customer-project"

region         = "europe-west2"

zone           = "europe-west2-a"

governance_admin_email = "admin@company.com"

inventory_dataset = "governance_inventory"

environments = [
  "dev",
  "test",
  "uat",
  "prod"
]

owners = [
  "platform-team",
  "security-team"
]

applications = [
  "payments",
  "crm"
]
